* {
    padding: 0;
    margin: 0;
    /* border-box 告訴瀏覽器：妳想要設置的邊框和內邊距的值是包含在width內的。
    也就是說，如果妳將壹個元素的width設為100px，那麽這100px會包含它的border和padding，
    內容區的實際寬度是width減去(border + padding)的值。大多數情況下，這使得我們更容易地設定壹個元素的寬高。
    - border-box不包含margin
    - box-sizing: border-box屬性使元素充滿整個邊框，因此我們可以跳過數學計算。

    content-box  是默认值。如果你设置一个元素的宽为100px，那么这个元素的内容区会有100px 宽，
    并且任何边框和内边距的宽度都会被增加到最后绘制出来的元素宽度中。 */
    box-sizing: border-box;
  }
  
  body {
    /* 視口，即妳在瀏覽器中看到的部分頁面，也是有尺寸的。在CSS中，我們有與視口尺寸相關的度量單位，
    即意為視口寬度的vw單位，以及意為視口高度的 vh單位。 */
    height: 100vh; /* 1vh等於視口高度的1%，1vw則為視口寬度的1% */
    display: flex; 
    /* 我們的多列布局具有大小相等的列，並且列的高度都是壹樣。 
    這是因為這樣的 flex 項（flex容器的子項）的默認值是可以解決這些的常見問題的 */
    background: #060AB2;
  }
  

  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto; /* margin: auto 瀏覽器會自動選擇壹個合適的margin來應用。它可以用於將壹個塊居中。
    比如，div { width:50%;  margin:0 auto; } 會把這個div容器水平居中。 */
    display: flex; /* 通過設置display: flex到body和margin: auto到.memory-game容器，它將垂直地和水平地居中。
    .memory-game也將是壹個flex-container。默認情況下，裏面的元素會縮小寬度來適應這個容器。 */
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; /* 通過將flex-wrap設置為wrap，flex-items會根據彈性元素的大小進行自適應。 */
    perspective: 1000px; /* 立方體的收縮由 perspective 屬性定義。它的值越小，視角越深。 */
  }
  
  .memory-card {
    /* 每個卡片的width（意為寬度）和 height（意為高度）都是用calc() CSS函數計算的。
    我們將width設置為25%，height設置為33.333% ，並從margin（意為邊距）中減去10px，來制作三行四張牌。 */
    width: calc(25% - 10px); /* + 和 - 運算符的兩邊必須要有空白字符 例如: 加有空白字符的、有效的表达式 calc(8px + -50%) 會被解析成為：壹個長度 後跟壹個加號 再跟壹個負百分比。*/
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative; /* 對於.memory-card子元素，我們添加position: relative，這樣我們就可以相對它進行子元素的絕對定位。 */
    box-shadow: 1px 1px 1px rgba(0,0,0,.3); /* 可以在任何元素上使用box-shadow來添加陰影效果。 */
    transition: all .5s; /* transition屬性可以被指定為壹個或多個 CSS 屬性的過渡效果，多個屬性之間用逗號進行分隔。 */
    transform-style: preserve-3d; /* 對於.memory-card元素，我們添加transform-style: preserve-3d屬性，這樣就把卡片置於在父節點中創建的3D空間中，而不是將其平鋪在z = 0平面上（transform-style）。 */
    transform: scale(1); /* scale<number>，表示縮放向量的橫坐標。 */
  }
  
  .memory-card.flip { /* 在CSS裏flip類把卡片旋轉了180度 */
    transform: rotateY(180deg); /* rotateY()  函數定義了壹個轉換，它可以讓壹個元素圍繞縱坐標(垂直軸)旋轉，而不會對其進行變形。 */
  }
  
  .memory-card:active { /* 添加壹個點擊效果。:active偽類將在每次點擊元素時觸發。它引發壹個 0.2秒的過渡: */
    transform: scale(0.97 );
    transition: transform .2s;
  }
  
  /* 把屬性front-face和back-face的屬性設置為position: absolute，這樣就可以從原始位置移除元素，並使它們堆疊在壹起。  */
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    backface-visibility: hidden; /* 為了顯示它背面的圖像，讓我們把backface-visibility: hidden應用到.front-face和.back-face。 */
    border-radius: 5px; /* 屬性 border-radius 允許妳設置元素的外邊框圓角。 */ 
    background: #1C7CCC;
  }
  
  .front-face {
    transform: rotateY(180deg); /* 由於backface-visibility: hidden, 使我們把兩個圖像都隱藏在了背面，所以另壹面什麽也沒有。接下來我們需要把.front-face旋轉180度： */
  }
  
  /* and關鍵字將媒體功能與媒體類型或其他媒體功能組合在壹起。 此示例結合了兩種媒體功能，以將樣式限制為寬度至少為30 em的橫向的設備： */
  @media screen and (max-width: 750px) and (max-height: 500px) { /* screen主要用於屏幕。 */
    .memory-game {
      width: 50%;
      height: 90%;
    }
  
   .memory-card {
      width: calc(25% - 8px);
      height: calc(33.333% - 8px);
      margin: 4px;
    }
  
    .front-face,
    .back-face {
      padding: 10px;
    }
  }
  